body{
  background: linear-gradient(270deg, #07b8ca, #a8ca36);
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.chat-box {
  width: 40%; /* 2/3rds of the container */
  height: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid #efe9e9;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 75px;
  margin-bottom: 75px;
  background: rgb(230, 220, 220);
}

.chat-content {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #ccc;
}
.input-container {
  display: flex;
  align-items: center;
}

.chat-input {
  flex-grow: 1;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.send-button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.send-button:hover {
  background-color: darkblue;
}